html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    color: #a7a6a2;
    overflow: hidden;
}

::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background:#cccccc;border-radius:0px}::-webkit-scrollbar-thumb{background:#2f2f2f;border-radius:0px}

.container {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-areas: "header header header header"
    "container-left main container-right-left container-right-right"
    "container-left main container-right-main container-right-main"
    "footer-left footer-main container-right-main container-right-main";
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 56px 644px 1fr 80px;
    box-sizing: border-box;
    overflow: hidden;
    }
    .container > div {
    border: 1px solid #888;
    background-color: #222222;
    margin: 4px;

    }

    .header {
    grid-area: header;
    height: 50px;
    }
    .container-left {
    grid-area: container-left;
    

    border: none !important;
    background-color: transparent !important;
    overflow: hidden;
    height: 1fr;

    }
    .main {
    grid-area: main;
    position: relative

    }
    .container-right-left {
    grid-area: container-right-left;
    }
    .container-right-right {
    grid-area: container-right-right;
    }
    .container-right-main {
    grid-area: container-right-main;
    }
    .footer-left {
    grid-area: footer-left;
    }
    .footer-main {
    grid-area: footer-main;
    }

    