
.chat-username {
    color: var(--SL_Green);
    font-weight: bold;
}

.system-username {
    color: var(--SL_Yellow);
}

.feed-wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}



.chat-messages {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--Sections_background_color);
    margin: 0 5px 0 5px;
    font-size: var(--font_size_content_small);
}

.chat-message-containter{
    margin: 5px 0 5px 0;
}

.chat-footer {

}

.chat-footer input {
    width: 100%;
    border-top: var(--Border-style);
    border-radius: 5px; 
    background-color: transparent; 
    padding: 8px;
    color: #ffffff; 
    font-size: var(--font_size_input_text);
}

.chat-footer input:focus {
    outline: none; 
}


