.tabcontent {
    overflow: hidden;
    display: none;
    flex-direction: column;
    height: 100%;
}

.containter-right-left-tabs {
    border-bottom: var(--Border-style);
    color: var(--Default_text_color);
}

.containter-right-left-tabs button {
    background-color: transparent;
    color: var(--Default_text_color);
    font-size: var(--font_size_button);
}

.TC-Header {
    border-bottom: var(--Border-style);
    width: 100%;
    text-align: center;

}

.TC-Header h1 {
    margin: 10px 0 0px 0;
    font-size: var(--font_size_section_header);
}

.TC-Header h2 {
    color: var(--SL_Green);
    font-size: var(--font_size_section_sub_header);
}

.TC-sum-wrapper {
    display: flex;
    justify-content: center;
}

.TC-header-image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
  }
  .TC-header-image-container img {
    max-width: 50px;
    height: auto;
  }
  .TC-header-upkeep-count {
    margin-top: 10px;
  }

  .TC-header-upkeep-count p {
    font-size: var(--font_size_counter);
    color: var(--SL_counter_color);
    font-weight: bold;
  }




.TC-List {
    overflow-y: auto;
    flex-grow: 1;
    max-width: 100%;
}

.TC-List ul {
    padding: 0;
    margin: 0;
}

  .TC-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border-bottom: var(--Border-style);
    padding: 0 20px 0 0;
  }
  .TC-list-item-title {
    text-align: center;
    flex-grow: 1;
    font-size: var(--font_size_section_sub_header);
  }
  .TC-list-item-upkeep {
    font-weight: bold;
    color: var(--SL_Green);
    font-size: var(--font_size_section_sub_header);
  }



  /* BOOM TAB */

  .boom-stock{

  }

  .image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: #3c3934;
  }
  .image-container img {
    max-width: 50px;
    display: block;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    display: block;
  }
  /* .image-container:hover .overlay {
    display: block;
  } */


  /* base inmventory */

  .base-inventory {
    
  }

  .base-inventory-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    overflow: auto;
  }
  .base-inventory-item {
    position: relative;
    width: 60px; 
    background-color: #3c3934;
    border-radius: 2px;
  }
  .base-inventory-item img {
    max-width: 60px;
    height: auto;
    display: block;
    border-radius: 5px;
    margin: 0;
  }
  .base-inventory-item .base-inventory-item-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: bold;

    color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: var(--font_size_counter);
  }
