html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--Body_background_color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Default_text_color);
    user-select: none;
    /* disable highlighting anything. may want to re/move later. */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #2f2f2f;
    border-radius: 0px
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 0px
}

.container {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-areas: "header header header header"
        "container-left main container-right-left container-right-right"
        "container-left main container-right-main container-right-main"
        "footer-left footer-main container-right-main container-right-main";
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 56px 644px 1fr 80px;
    box-sizing: border-box;
    overflow: hidden;
}

.container>div {
    border: var(--Border-style);
    background-color: var(--Sections_background_color);
    margin: 4px;
}

.header {
    grid-area: header;
    height: 50px;
    margin-bottom: 10px !important;
}

.container-left {
    grid-area: container-left;
    border: none !important;
    background-color: transparent !important;
    overflow: hidden;
    height: 1fr;
}

.main {
    grid-area: main;
    position: relative;
    overflow: hidden;
}

.container-right-left {
    grid-area: container-right-left;
}

.container-right-right {
    grid-area: container-right-right;
    overflow: hidden;
    height: 1fr;
}

.container-right-main {
    grid-area: container-right-main;
    overflow: hidden;
}

.footer-left {
    grid-area: footer-left;
    text-align: center;
    color: red;
}

.footer-main {
    grid-area: footer-main;

}

#map-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.container-left-head {
    /* background-color: antiquewhite; */
    text-align: center;
    border: var(--Border-style);
    background-color: var(--Sections_background_color);
}

.container-left-head h2 {
    color: var(--SL_Red);
}



.section-header {
    text-align: center;
    height: auto;
    border-bottom: var(--Border-style);
}

.section-header h2 {
    margin: 5px;
    color: var(--Default_text_color);
    font-size: var(--font_size_section_header);
}

.section-header h1 {
    margin: 5px;
    color: var(--Default_text_color);
    font-size: var(--font_size_section_header);
}


.content-main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    padding: 10px;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

img {
    vertical-align: middle;
    margin-top: 10px;
}

.content-main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

.container-left-main-content {

    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-right-main-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* Byeond body */

/* .Beyond {
    background-color: var(--Sections_background_color);
    border: var(--Border-style);
    width: 100%;
    margin: 5px;
} */

.container-switch-board {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "column-one column-two column-three beyond-body";
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-rows: 1fr;
  }
  .container-switch-board  > div {
    border: var(--Border-style);
    margin: 4px;
    background-color: var(--Sections_background_color);
  }
  
  .column-one {
    grid-area: column-one;
  }
  .column-two {
    grid-area: column-two;
  }
  .column-three {
    grid-area: column-three;
  }
  .beyond-body {
    grid-area: beyond-body;
  }

.form-wrapper {
    border-bottom: var(--Border-style);
}

.Beyond-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "Beyond-body";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.Beyond-container>div {
    border: 1px dashed #888;
    margin: 4px;
}

.Beyond-body {
    grid-area: Beyond-body;
    background-color: var(--Sections_background_color);
}


/* Header */

.header h1 {
    margin: 5px 0 0 20px;
    font-size: var(--font_size_title);
}



  .switch-board-list-item-container {
    /* margin: 5px; */
    border-bottom: var(--Border-style);
  }
  .switch-board-list-item-header {
    padding: 2px;
    cursor: pointer;
  }

  .switch-board-list-item-header img{
    padding: 2px;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  .switch-board-list-item-content {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: all 2s ease;  */
  }


