html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var( --Body_background_color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Default_text_color);
    user-select: none; /* disable highlighting anything. may want to re/move later. */
    overflow-x: hidden;
}

::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background:#2f2f2f;border-radius:0px}::-webkit-scrollbar-thumb{background:#cccccc;border-radius:0px}

.container {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-areas: "header header header header"
    "container-left main container-right-left container-right-right"
    "container-left main container-right-main container-right-main"
    "footer-left footer-main container-right-main container-right-main";
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 56px 644px 1fr 80px;
    box-sizing: border-box;
    overflow: hidden;
}
.container > div {
    border: 1px solid var(--Border_color);
    background-color: var(--Sections_background_color);
    margin: 4px;
}

.header {
    grid-area: header;
    height: 50px;
    margin-bottom: 10px !important;
}

.container-left {
    grid-area: container-left;
    border: none !important;
    background-color: transparent !important;
    overflow: hidden;
    height: 1fr;
}

.main {
    grid-area: main;
    position: relative;
    overflow: hidden;
}

.container-right-left {
    grid-area: container-right-left;
}
.container-right-right {
    grid-area: container-right-right;
    overflow: hidden;
    height: 1fr;
}
.container-right-main {
    grid-area: container-right-main;
    overflow: hidden;
}
.footer-left {
    grid-area: footer-left;
}
.footer-main {
    grid-area: footer-main;
    
}

#map-canvas{
    overflow: hidden;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.container-left-head {
    /* background-color: antiquewhite; */
    text-align: center;
    border: 1px solid var(--Border_color);
    background-color: var( --Sections_background_color);
} h2 {
    color: var(--SL_Red);
} h4 {

}

.content-main-header {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)); 
    padding: 10px;
    text-align: center;
    pointer-events:none;
    user-select: none;
} 
    
img {
    vertical-align: middle;
    margin-top: 10px;
}

.content-main-footer {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 10px;
    text-align: center;
    pointer-events:none;
    user-select: none;
}

.container-left-main-content {

    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-right-main-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* Byeond body */

/* .Beyond {
    background-color: var(--Sections_background_color);
    border: 1px solid var(--Border_color);
    width: 100%;
    margin: 5px;
} */

.Beyond-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "Beyond-body";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .Beyond-container > div {
    border: 1px dashed #888;
    margin: 4px;
  }
  
  .Beyond-body {
    grid-area: Beyond-body;
    background-color: var(--Sections_background_color);
  }


/* Header */

.header h1 {
    margin: 5px 0 0 20px;
}

