#map-canvas {
    height:100%;
    width:100%;
    background-color: #0b3a4a;
}

.leaflet-control-attribution {
    display: none;
}

svg text {
    font-family: FontAwesome;
    dominant-baseline: middle;
    text-anchor: middle;
}

.text-label {
    color: #202020;
    font-family: "Comic Sans MS";
    font-weight: bold;
    text-align: center;
}

.leaflet-popup .leaflet-popup-content-wrapper{
    background-color: var(--Sections_background_color);
    color: var(--Default_text_color);
    border: 1px solid var(--Border_color);
    border-radius: 0;
}

.leaflet-popup .leaflet-popup-tip{
    background-color: var(--Sections_background_color);
    border: 1px solid var(--Border_color);
}