
@media screen and (max-width: 2000px){
  :root {
    /* --SL_Gernal_color: orange; */
  }

  /* .TC-Header h1 {
    margin: 10px 0 0px 0;
    font-size: 1.6rem;
} */

.container {
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-areas: 
      "header header header header"
      "container-left main container-right-left container-right-right"
      "container-left main container-right-main container-right-main"
      "footer-left footer-main container-right-main container-right-main";
  grid-template-columns: 1fr 4fr 1fr 1fr;
  grid-template-rows: 56px 444px 1fr 48px;
  box-sizing: border-box;
  overflow: hidden;
}

/* .chat-messages {
  font-size: smaller;
} */


}




@media screen and (max-width: 600px) {

    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: var( --Body_background_color);
        font-family: Arial, Helvetica, sans-serif;
        color: var(--Default_text_color);
        overflow: auto;
    }

    .container {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-areas: "header header header"
        "main main main"
        "container-right-main container-right-main container-right-main"
        "container-right-left container-right-left container-right-left"
        "container-right-right container-right-right container-right-right"
        "footer-left footer-left footer-left"
        "footer-left footer-left footer-left"
        "container-left container-left container-left"
        "footer-main footer-main footer-main";
        grid-template-columns: 120px 4fr 1fr;
        grid-template-rows: 160px 1fr 80px 1fr 1fr 1fr 1fr 1fr 1fr;
      }
      .container > div {
        border: 1px dashed var( --Border_color);
      }
      
      .header {
        grid-area: header;
      }
      .main {
        grid-area: main;
      }
      .container-right-main {
        grid-area: container-right-main;
      }
      .container-right-left {
        grid-area: container-right-left;
      }
      .container-right-right {
        grid-area: container-right-right;
      }
      .footer-left {
        grid-area: footer-left;
      }
      .container-left {
        grid-area: container-left;
      }
      .footer-main {
        grid-area: footer-main;
      }
  }