.track-div{
    color:gray;
}

.track-div:hover{
    cursor: pointer;
}

#queue-time-header{
    display:none;
}

.status:hover{
    cursor: pointer;
}

.status-text-online {
    color: #45ff45;
}

.status-text-offline {
    color: red;
}

#map-canvas {
    height:100%;
    width:100%;
    background-color: #0b3a4a;
}

.leaflet-control-attribution {
    display: none;
}

svg text {
    font-family: FontAwesome;
    dominant-baseline: middle;
    text-anchor: middle;
}

.text-label {
    color: #202020;
    font-family: "Comic Sans MS";
    font-weight: bold;
}