.track-div{
    color:gray;
}

.track-div:hover{
    cursor: pointer;
}

#queue-time-header{
    display:none;
}

.status:hover{
    cursor: pointer;
}

.status-text-online {
    color: #45ff45;
}

.status-text-offline {
    color: red;
}

.inventory-item-is-blueprint{
    background-image: url("/static/img/blueprint.png");
    background-repeat: no-repeat;
}