body{
    background-color: gray;
}

#numpad_main{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.numpad button {
    padding: 10px;
    font-size: 20px;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.numpad button {
    padding: 10px;
    font-size: 20px;
}
.submit-button {
    grid-column: span 3;
}
.zero-button {
    grid-column: span 2;
}

.password-input {
    height:50px;
    width:100%;
    margin-bottom: 15px;
    font-family: "Arial", sans-serif; 
    font-size: 50px;
    padding: 0;
    text-align: center;
}

#pinForm{
    grid-column: span 3;
}