/* Style for the user list */
.Player-list {
    flex-grow: 1;
    overflow: auto;

    border: var(--Border-style);
    background-color: var(--Sections_background_color);
    
}

.user-list {
    list-style-type: none;
    padding: 0;
}
.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: var(--Border-style);
    padding: 0 10px 5px 10px;
} 

.user-item h3 {
    margin: 0 0 5px 5px;
    font-size: var(--font_size_sub_title);
    text-align: left;
} 
.user-item p {
    margin: 0 0 0 5px;
    font-size: var(--font_size_content_small);
}

.user-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
}

/* CSS for list items */
.list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: var(--Border-style);
}

/* CSS for icon */
.icon {
    margin-right: 10px;
    width: 30px; 
    height: 30px; 
} 

.icon img {
    height: 100%;
    width: 100%;

    margin: 0;
}

/* CSS for name */
.name {
    flex: 1;
}

/* CSS for status */
.status {
    font-style:normal ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.status:hover{
    cursor: pointer;
}

.status-text-online {
    color: var(--SL_Green);
}

.status-text-offline {
    color: var(--SL_Red);
}

.status-text-noSig {
    color: var(--SL_Grey);
}

#queue-time-header{
    display:none;
}

a {
    text-decoration: none;
}

/* #main_chat{
    position: relative;
    height: 100%;
}

#send_box{
    position: absolute;
    bottom: 0;
}

.trackDiv:hover{
    cursor: pointer;
} */