<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Device</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='socket_client.js') }}"></script>
</head>
<body>
    <h1>Add Device</h1>
    <p>Current time: {{ time }}</p>
    <ul id="device_list">
        <li>loading...</li>
    </ul>
    <form action="/add_device" method="POST">
        <label for="device_id">Device ID:</label><br>
        <input type="text" id="device_id" name="device_id"><br>
        <label for="device_name">Device Name:</label><br>
        <input type="text" id="device_name" name="device_name"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
