<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SADLADS RUST MAP</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <script src="/static/sockets.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<div id="main" class="info_box">
    <h1 id="server_name">{{ server_name }}</h1>
    <div id="ip"><b>IP: </b><span id="ip_data">{{ ip }}:{{ port }}</span></div>
    <div id="url"><b>URL: </b><span id="url_data">{{ server_url }}</span></div>
    <div id="seed"><b>Seed: </b><span id="seed_data">{{ server_seed }}</span></div>
    <div id="map_type"><b>Map: </b><span id="map_data">{{ server_map }}</span></div>
    <div id="map_size"><b>Size: </b><span id="map_size_data">{{ server_size }}</span></div>
    <div id="time"><b>Time: </b><span id="time_data">{{ time }}</span></div>
    <div id="players"><b>Players: </b><span id="players_data">{{ server_players }}/{{ server_max_players }}</span></div>
    <div id="queue"><b>Queue: </b><span id="queue_data">{{ server_queued }}</span></div>

</div>
<div id="main2" class="info_box">
    <h2>Switches</h2>
        {% for i in range(0, len_switches) %}
            <div id="{{ switches[i][0] }}" class="device-container">
                <div class="status-indicator"></div>
                <span class="device-name">{{ switches[i][1] }}</span>
                <button class="toggle-btn" data-device-id="{{ switches[i][0] }}">Toggle</button>
            </div>
        {% endfor %}
</div>
<canvas id="map_canvas"></canvas>
<script src="/static/canvas.js"></script>
</body>
</html>