<!DOCTYPE html>
<html lang="en">

<!-- ###################SADLADS################### -->

<!-- This website is a product of SADLADS.  -->
<!-- for use with RUST -->
<!-- SADLADS 2023 -->

<!-- ###################SADLADS################### -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/variables.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/users.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="../static/css/chat.css">
    <link rel="stylesheet" type="text/css" href="../static/css/items.css">
    <link rel="stylesheet" type="text/css" href="../static/css/more.css">
    <link rel="stylesheet" type="text/css" href="../static/css/map.css">

    <link rel="stylesheet" href="../static/css/libraries/leaflet.css" />
    <script src="../static/js/libraries/leaflet.js"></script>

    <script type="module" src="../static/js/libraries/rotatedMarker.js"></script>

    <script src="../static/js/libraries/jquery.min.js"></script>
    <script src="../static/js/libraries/socket.io.js"></script>
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css" />
    <script src='../static/js/libraries/Leaflet.fullscreen.min.js'></script>
    <link href='../static/css/libraries/leaflet.fullscreen.css' rel='stylesheet' />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>

<body>
    <div class="container">

        <div class="header">
            <h1 id="server_name">
                <!-- #region PLACEHOLDER -->
                <!-- SERVER NAME - 7 days since wipe - 14 days until wipe -->
                <!-- #endregion PLACEHOLDER -->
            </h1>
        </div>

        <div class="container-left">
            <div class="container-left-main-content">

                <div class="container-left-head">
                    <h1>Total Players</h1>
                    <h2 id="player-count">
                        <!-- #region PLACEHOLDER -->
                        <!-- #endregion PLACEHOLDER -->
                    </h2>
                    <h4 id="queue-time-header">Estimated Queue Time: <span id="time-queue"></span></h4>
                </div>

                <span>Last updated: <span id="time-last-updated"></span></span>

                <div class="Player-list">
                    <ul class="user-list">
                        <!-- #region PLACEHOLDER -->
                        <!-- #endregion PLACEHOLDER -->
                    </ul>
                </div>

            </div>
        </div>

        <div class="main">
            <div class="content-main-header">
                <img src="../static/img/logo-ph.png">
            </div>

            <div id="map-wrapper">
                <div id="map-canvas"></div>
            </div>
            <script src="../static/js/canvas.js"></script>


            <div class="content-main-footer">
                Time: <span id="server-time"></span>
            </div>
        </div>

        <div class="container-right-left">
            <div id="main_chat" class="feed-wrapper">
                <div class="section-header">
                    <h2>Live chat</h2>
                </div>
                <div id="messages" class="chat-messages">
                    <!-- #region PLACEHOLDER -->
                    <!-- #endregion PLACEHOLDER -->
                </div>
                <div id="send_box" class="chat-footer">
                    <form>
                        <input id="chat_input" type="text" name="message" placeholder="Send a message..."
                            autocomplete="off">
                    </form>
                </div>
            </div>

        </div>
        <div class="container-right-right">
            <div class="feed-wrapper">
                <div class="section-header">
                    <h2>Alarm Feed</h2>
                </div>
            </div>
        </div>

        <div class="container-right-main">
            <div class="container-right-main-wrapper">
                <div class="containter-right-left-tabs">
                    <button class="containter-right-left-tabs-links" onclick="changeTab(event, 'tab1')">Tool
                        Cupboards</button>
                    <button class="containter-right-left-tabs-links" onclick="changeTab(event, 'tab3')">Base
                        Inventory</button>
                    <button class="containter-right-left-tabs-links"
                        onclick="changeTab(event, 'tab4')">Switches</button>
                    <button class="containter-right-left-tabs-links" onclick="changeTab(event, 'tab2')"
                        style="font-style: italic; color: var(--SL_Yellow);">Boom</button>
                </div>

                <!-- TCs -->
                <div id="tab1" class="tabcontent">
                    <div id="all-monitors-list"></div>
                    <!-- #region PLACEHOLDER -->
                    <div class="TC-Header">
                        <h1>Main tool cupboard</h1>
                        <div class="TC-sum-wrapper">
                            <div class="TC-header-image-container">
                                <img src="../static/img/upkeep/stone.webp" alt="Image 1">
                                <div class="TC-header-upkeep-count">
                                    <p>x450</p>
                                </div>
                            </div>
                            <div class="TC-header-image-container">
                                <img src="../static/img/upkeep/metal-frags.webp" alt="Image 2">
                                <div class="TC-header-upkeep-count">
                                    <p>x54,000</p>
                                </div>
                            </div>

                            <div class="TC-header-image-container">
                                <img src="../static/img/upkeep/HQ-Metal.webp" alt="Image 3">
                                <div class="TC-header-upkeep-count">
                                    <p>x500</p>
                                </div>
                            </div>
                            <div class="TC-header-image-container">
                                <img src="../static/img/upkeep/wood.webp" alt="Image 3">
                                <div class="TC-header-upkeep-count">
                                    <p>x500</p>
                                </div>
                            </div>
                        </div>
                        <h2>Protected for 10d 14h 35m 19s</h2>
                    </div>
                    <div class="TC-List">
                        <ul>
                            <li class="TC-list-item">
                                <img src="../static/img/upkeep/TC.png" alt="Icon 1" width="50" height="50">
                                <h3 class="TC-list-item-title">Farm Base</h3>
                                <span class="TC-list-item-upkeep">7 Days</span>
                            </li>
                            <li class="TC-list-item">
                                <img src="../static/img/upkeep/TC.png" alt="Icon 1" width="50" height="50">
                                <h3 class="TC-list-item-title">Bunker North East</h3>
                                <span class="TC-list-item-upkeep">1 Day</span>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- #endregion PLACEHOLDER -->
                </div>

                <!-- Boom Calulator -->
                <div id="tab2" class="tabcontent">
                    <div id="boom-list" class="Boom-stock">
                        <!-- #region PLACEHOLDER -->
                        <!-- <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div>
                        <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div>
                        <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div>
                        <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div>
                        <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div>
                        <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div>
                        <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div>
                        <div class="image-container">
                            <h3>c4</h3>
                            <img src="../static/img/BOOM/C4.png" alt="Image 1">
                            <div class="overlay">
                                5
                            </div>
                        </div> -->
                        <!-- #endregion PLACEHOLDER -->
                    </div>
                </div>

                <!-- Full Base inventory -->
                <div id="tab3" class="tabcontent" style="display: flex;">
                    <div class="section-header">
                        <h1>Inventory overview</h1>
                    </div>
                    <div id="base-inventory-list" class="base-inventory-list">
                        <!-- #region PLACEHOLDER -->
                        <!-- <div class="base-inventory-item">
                                <img src="../static/img/upkeep/metal-frags.webp" alt="Image 1">
                                <div class="base-inventory-item-count">1</div>
                            </div>
                            <div class="base-inventory-item">
                                <img src="../static/img/upkeep/stone.webp" alt="Image 2">
                                <div class="base-inventory-item-count">x10,000</div>
                            </div>
                            <div class="base-inventory-item">
                                <img src="../static/img/upkeep/wood.webp" alt="Image 3">
                                <div class="base-inventory-item-count">x300</div>
                            </div> -->
                        <!-- #endregion PLACEHOLDER -->
                    </div>

                </div>

                <!-- Switches overview -->
                <div id="tab4" class="tabcontent">
                    <div id="switch_list" class="alarms-overview-wrapper">
                        <div class="section-header">
                            <h1>Switches overview</h1>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="footer-left">
        </div>

        <div class="footer-main">
        </div>
    </div>

    <!-- beyond -->

    <div class="container-switch-board ">
        <div class="column-one">
            <div class="section-header">
                <h1>Add Switches</h1>
            </div>
            <div id="switch-form-wrapper" class="form-wrapper">
                <form id="addSwitchForm">
                    <label for="switch_id">Device ID:</label><br>
                    <input type="text" id="switch_id" name="switch_id"><br>
                    <label for="switch_name">Device Name:</label><br>
                    <input type="text" id="switch_name" name="switch_name"><br><br>
                    <button type="submit">Add Device</button>
                </form>
            </div>
            <div id="switchList">
                <!-- #region PLACEHOLDER -->
                <!-- <div class="switch-board-list-item-container">
                    <div class="switch-board-list-item-header" onclick="toggleSwitchBoardContent(567)">
                        <img src="../static/img/items/smart.switch.png"> Epic Switch
                    </div>
                    <div class="switch-board-list-item-content" id="switch-board-list-item-content-567" style="display: none;">
                        <p>AAAAAA  1</p>
                    </div>
                </div> -->
                <!-- #endregion PLACEHOLDER -->
            </div>
        </div>

        <div class="column-two">
            <div class="section-header">
                <h1>Link Alarms</h1>
            </div>
            <div id="alarm-form-wrapper" class="form-wrapper">
                <form id="addAlarmForm">
                    <label for="alarm_id">Device ID:</label><br>
                    <input type="text" id="alarm_id" name="alarm_id"><br>
                    <label for="alarm_name">Device Name:</label><br>
                    <input type="text" id="alarm_name" name="alarm_name"><br><br>
                    <button type="submit">Add Device</button>
                </form>
            </div>
            <div id="alarmList">
                <!-- #region PLACEHOLDER -->
                <!-- <div class="switch-board-list-item-container">
                    <div class="switch-board-list-item-header" onclick="toggleSwitchBoardContent(502)">
                        <img src="../static/img/items/smart.alarm.png"> uh, upkeep alarm?
                    </div>
                    <div class="switch-board-list-item-content" id="switch-board-list-item-content-502" style="display: none;">
                        <p>LOW UPKEEP</p>
                    </div>
                </div>

                <div class="switch-board-list-item-container">
                    <div class="switch-board-list-item-header" onclick="toggleSwitchBoardContent(503)">
                        <img src="../static/img/items/smart.alarm.png"> uh, upkeep alarm?
                    </div>
                    <div class="switch-board-list-item-content" id="switch-board-list-item-content-503" style="display: none;">
                        <p>LOW UPKEEP</p>
                    </div>
                </div> -->
                <!-- #endregion PLACEHOLDER -->
            </div>
        </div>

        <div class="column-three">
            <div class="section-header">
                <h1>Connect Storage</h1>
            </div>
            <div id="monitor-form-wrapper" class="form-wrapper">
                <form id="addMonitorForm">
                    <label for="monitor_id">Device ID:</label><br>
                    <input type="text" id="monitor_id" name="monitor_id"><br>
                    <label for="monitor_name">Device Name:</label><br>
                    <input type="text" id="monitor_name" name="monitor_name"><br><br>
                    <button type="submit">Add Device</button>
                </form>
            </div>
            <div id="monitorList">
                <!-- #region PLACEHOLDER -->
                <!-- <div class="switch-board-list-item-container">
                    <div class="switch-board-list-item-header" onclick="toggleSwitchBoardContent(1)">
                        <img src="../static/img/TEST/ammo.png"> Ammo
                    </div>
                    <div class="switch-board-list-item-content" id="switch-board-list-item-content-1" style="display: none;">
                        <p>Ammo low</p>
                    </div>
                </div> -->
                <!-- #endregion PLACEHOLDER -->
            </div>
        </div>

        <div class="beyond-body">
            We have some space here to play with, any ideas?
            GRAPH?
        </div>
    </div>



    <div id="storage-info" class="Beyond-container">
        <div class="Beyond-body">

        </div>
    </div>

    <!-- #################################################### -->

    <script>
        function changeTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("containter-right-left-tabs-links");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "flex";
            evt.currentTarget.className += " active";
        }

        function toggleSwitchBoardContent(id) {
            var content = document.getElementById("switch-board-list-item-content-" + id);
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        }
    </script>
    <script src="../static/js/monitors.js"></script>
    <script src="../static/js/sockets.js"></script>
    <script src="../static/js/form.js"></script>
</body>

</html>