<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/users.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mobile.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <script src="/static/sockets.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="header"><h1 id="server_name"></h1></div>
        <div class="container-left">
            <div class="container-left-main-content">
                <div class="container-left-head">
                    <h1>Total Players</h1>
                    <h2 id="player-count"></h2>
                    <h4 id="queue-time-header">Estimated Queue Time: <span id="time-queue"></span></h4>
                </div>
                <span>Last updated: <span id="time-last-updated"></span></span>
                <div class="Player-list">
                    <ul class="user-list">
                    </ul>  
                </div>
            </div>
        </div>

        {# Map #}
        <div class="main">
            <div class="content-main-header">
                <img src="/static/img/logo-ph.png">
            </div>

            <div class="map-canvas">
                <canvas id="map_canvas"></canvas>
                <script src="/static/canvas.js"></script>
            </div>

            <div class="content-main-footer">
                Time:   <span id="server-time"></span>
            </div>
        </div>

        {# Switches #}
        <div class="container-right-left">
            <div id="device_list" class="container-right-left-content-wrapper"></div>
        </div>

        {# Storage? #}
        <div class="container-right-right">

        </div>

        {# Chat? #}
        <div class="container-right-main">

        </div>

        {# Events? #}
        <div class="footer-left">

        </div>

        {#  #}
        <div class="footer-main">
            
        </div>
    </div>
</body>
</html>